
# Bilibili Cookies
SESSDATA=123456789
BILI_JCT=123456789
BUVID3=123456789

# Path to Phi Recorder
PhiRecorderPath="C:\Path\To\phi-recorder.exe"

# Aria2 RPC Settings
Aria2Port=6800
Aria2Secret=your_aria2_secret